{% extends "public/templates/public_template.html" %}

{% block title %}About{% endblock %}

{% block main %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>About</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod consequuntur, incidunt nesciunt commodi assumenda ipsum, quisquam tempora id consectetur tenetur debitis. Placeat aliquid consequatur reiciendis rerum error alias cum laudantium?</p>
        </div>
    </div>
</div>

{% endblock %}